/*@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #111111;
    color: #111111;
    /*font-family: 'Quicksand', sans-serif;*/
    /*font-family: 'Nunito', sans-serif;*/
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

/* Font weights */

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

/* Logo */

.logo {
    height: 3.75rem;
}

@media (max-width: 1023px) {
    .logo {
        height: 3rem;
    }
}

@media (max-width: 639px) {
    .logo {
        height: 3rem;
    }
}

/* Panel Class */
/* Class which is applied when the side panel is opened on the projects page */

.html-panel .content, .html-panel .content header {
    color: white;
    background-color: #111;
}

.html-panel .panel {
    overflow-y: auto;
    width: 100%;
    opacity: 1;
    /*cursor: default;*/
    transform: none;
}

.html-panel .projects-list img {
    filter: grayscale(1);
    opacity: 0.75;
}

.panel {
    opacity: 0;
    width: 0;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    transform: translateX(70px);
}

.panel header {
    display: none;
}

.html-panel .panel header {
    display: block;
}

.html-panel .panel__container {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    min-height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
}

@media (max-width: 	1279px) {
    .html-panel .content {
        display: none;
    }

    .panel {
        opacity: 0;
        width: 0;
        transition: none;
        transform: none;
    }
}

.html-panel .panel header {
    min-width: calc(1536px - 14rem);
}

.html-panel .panel {
    padding-top: 68px;
}

@media (max-width: 	1535px) {
    .html-panel .panel header {
        min-width: calc(1536px - 8rem);
    }
}

/* Navigation links */

.nav-link, .link-underline {
    position: relative;
}

.nav-link-active::after, .nav-link:hover::after, .link-underline::after {
    position: absolute;
    content: "";
    background-color: #111111;
    height: 1px;
    width: 100%;
    bottom: -5px;
    right: 0;
}

.link-underline::after {
    bottom: 0 !important;
}

.link-underline:hover::after {
    background-color: #999;
}
